.calcContainer {
    max-width: 720px;
    padding: 8px;
    background-color: #e3e3e3;
}

.btnRow {
    background-color: #e3e3e3;
    display: flex;
    padding: 5px;
    justify-content: space-between;
}

.btn {
    flex: 1;
    height: 50px;
    max-width: 24%;
    font-size: 32px;
}

.display {
    background-color: #e3e3e3;
    padding: 8px;
}

p {
    background-color: white;
    margin: 0;
    padding: 5px;
    text-align: right;
}

#formula {
    height: 20px;
    font-size: 16px;
    padding-bottom: 0;
    color: #555555;
}

#result {
    height: 45px;
    font-size: 40px;
    padding-top: 0;
}